# Visual Studio Code # 
.vscode/
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Mysql data
mysql/db/mysql/
mysql/db/mysql/*
!mysql/db/mysql/.lock

# Mac OS #
.DS_Store